<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.geosolutions.android.map"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="10"
         android:targetSdkVersion="18" />
    <uses-permission android:name='android.permission.INTERNET'/>
    <meta-data></meta-data>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/map_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.geosolutions.android.map.MapActivity"
            android:label="@string/map_name"
            android:configChanges="orientation|screenSize" >
        
        </activity>
        
    </application>

</manifest>
